[package]
name = "rust-android"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[package.metadata.android]
package = "com.marsstone.rust_android"
build_targets = ["aarch64-linux-android"]

[package.metadata.android.sdk]
min_sdk_version = 23
max_sdk_version = 35

[package.metadata.android.signing.release]
path = "/home/marsstone/.android/keystores/rust-android-release.keystore"
keystore_password = "YOUR PASSWORD"
key_alias = "rust-android"
key_password = "YOUR PASSWORD"

[dependencies]
macroquad = "0.4.16"
